.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  background: #4db6d64f;
}

section {
  padding: 20px 40px;
  background: #f1f1f1;
  margin-top: 30px;
}

.messages {
  background-color: #93c5e8;
  padding: 7px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  width: 325px;
}

form {
  border: 1px solid #ccc;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

button[type=submit] {
  border: none;
  background-color: #564b4b;
  color: #fff;
  padding: 10px;
  border-radius: 17px;
  font-weight: bold;
}

button[disabled]{
  background-color: #bfbfbf;
}

textarea {
  resize: none;
  width: 337px;
  border-color: #ddd;
  border-radius: 1px;
  height: 50px;
  margin: 20px 0;
}

input[type=text] {
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
}

.username {
  display: flex;
  justify-content: space-between;
}

em {
  margin-left: 10px;
  font-size: 12px;
}

.placeholder {
  background-color: none;
}

.placeholder div {
  background-color: #fff;
  height: 10px;
  margin-bottom: 10px;
}

img {
  padding: 3px 0 0 10px;
}